<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Edit Task</h4>
                </div>
                <div class="card-body">
                    <form action="/tasks/edit/{{task._id}}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" name="title" value="{{task.title}}" id="title" placeholder="Write your title" class="form-control" autofocus required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" name="description" value="{{task.description}}" id="description" placeholder="Write a description" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" name="category" value="{{task.category}}" id="category" placeholder="Enter the category" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" name="quantity" value="{{task.quantity}}" id="quantity" placeholder="Enter the quantity" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="price" value="{{task.price}}" id="price" placeholder="Enter the price" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-success btn-block">
                            Save Changes
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
